In [2]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
# 성은 남자 나이는 평균 엠바크드는 s

### sklearn.preprocessing.LabelEncoder
*

In [82]:
items = ['TV', '냉장고', '전자랜지', '컴퓨터', '선풍기', '선풍기', '믹서','믹서']

encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
print('인코딩 변환값:', labels)

인코딩 변환값: [0 1 4 5 3 3 2 2]

In [83]:
print('인코딩 클래스:', encoder.classes_)

인코딩 클래스: ['TV' '냉장고' '믹서' '선풍기' '전자랜지' '컴퓨터']

In [84]:
print('디코딩 원본 값:', encoder.inverse_transform([4,5,2,0,1,1,3,3]))

디코딩 원본 값: ['전자랜지' '컴퓨터' '믹서' 'TV' '냉장고' '냉장고' '선풍기' '선풍기']

In [137]:
import pandas as pd
import numpy as np

In [138]:
Titanic = pd.read_csv("./train.csv")

In [139]:
Titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [140]:
# corona_df.drop("Unnamed: 0", axis = 1, inplace= True)
Titanic.drop("Pclass", axis = 1, inplace= True)
Titanic.drop("PassengerId", axis = 1, inplace= True)

In [141]:
Titanic.drop("Name", axis = 1, inplace= True)
Titanic.drop("SibSp", axis = 1, inplace= True)
Titanic.drop("Parch", axis = 1, inplace= True)
Titanic.drop("Ticket", axis = 1, inplace= True)
Titanic.drop("Fare", axis = 1, inplace= True)

In [142]:
Titanic.drop("Cabin", axis = 1, inplace= True)

In [143]:
Titanic.isna().sum()

Survived      0
Sex           0
Age         177
Embarked      2
dtype: int64

In [144]:
Titanic["Age"].mean()

29.69911764705882

In [145]:
Titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   Embarked  889 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 28.0+ KB

In [146]:
Titanic["Age"].fillna(Titanic["Age"].mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [147]:
Titanic["Embarked"].fillna('S')

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [148]:
Titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   Embarked  889 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 28.0+ KB

In [149]:
# Sex. Eebarked Encoding
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
Titanic=encoder.fit_transform(Titanic["Age"])

In [150]:
Titanic=encoder.fit_transform(Titanic["Embarked"])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [152]:
Titanic

array([28, 51, 34, 47, 47, 88, 69,  6, 35, 18,  8, 74, 25, 52, 18, 70,  6,
       88, 41, 88, 47, 45, 20, 36, 12, 51, 88, 24, 88, 88, 53, 88, 88, 82,
       36, 56, 88, 27, 23, 18, 53, 35, 88,  7, 24, 88, 88, 88, 88, 23, 11,
       27, 64, 38, 81, 88, 27, 37,  9, 15, 28, 51, 59,  8, 88, 88, 38, 24,
       22, 34, 42, 21, 27, 34, 42, 33, 88, 88,  3, 39, 28, 38, 88, 36, 22,
       44, 21, 88, 29, 31, 38, 25, 61, 34, 75, 88, 85, 29, 45, 45, 36, 88,
       27, 44, 50, 36, 27, 88, 51, 88, 62, 19, 28, 25, 22, 27, 84, 38, 31,
        6, 27, 88, 43, 43, 69, 16, 88, 31, 88, 59, 44, 25, 62, 38, 33, 29,
       24, 50, 21, 31, 88, 28, 31, 24, 23, 24, 35, 13, 49, 56, 66, 28, 71,
       54, 88, 66, 21, 39, 88, 88, 58, 53, 34, 22,  5, 13, 88, 59, 88, 36,
       77,  8,  5, 27, 72, 23, 88, 65, 39, 48, 88, 88, 13,  5,  8, 88, 88,
       59, 53, 48, 42, 24, 24,  7, 58, 74, 88, 56, 88, 31, 36, 88, 45, 60,
       23,  6, 42, 34, 21, 53, 31, 47, 28, 39, 88, 41, 35, 56, 42, 39, 21,
       35, 66, 88, 51, 28, 24, 26, 23, 88, 47, 38, 75,  9, 31, 88, 58, 12,
       24, 44, 88, 88, 38, 28, 39, 58, 33, 31, 50, 69, 88, 38, 78, 39, 55,
       38, 88, 39, 47, 65, 88,  7, 67, 53, 88, 48, 21, 33, 74, 47, 88, 33,
       55, 50, 88, 79, 59, 88, 11, 47, 81, 36, 21, 24, 88, 44, 39, 28, 56,
       28, 34, 24, 48, 31, 31, 88, 30,  6, 88, 65, 88, 88, 24, 88, 88,  4,
       88, 22, 39, 39, 31, 23, 34, 36, 57, 34, 31, 69, 41, 53, 28, 35, 39,
       28, 88, 48, 77, 48, 41, 21, 88, 60, 51, 21, 88, 88, 38, 55, 59, 59,
        6, 31, 36, 33, 48, 31, 53, 88,  7, 56, 29, 88, 20, 33, 88, 36, 28,
       51, 88, 88, 53, 38, 59, 47, 88, 39, 76, 88, 88, 31, 33, 23, 24, 28,
        7, 88, 28, 35, 25, 24, 56,  5, 42, 47, 88, 23,  5, 48, 88, 22, 48,
       27, 36, 29, 31, 28, 41, 61, 29, 36, 52, 34, 27, 36, 25, 45, 66,  7,
       27, 88, 88, 88, 44, 88, 58, 88, 45, 23, 39, 14, 88, 27, 38, 36, 23,
       88, 36, 24, 88, 42, 36, 88, 56, 22, 65, 18, 27, 31, 80, 41, 59, 25,
       33, 36, 88,  8, 17, 45,  9, 67, 48, 88, 39, 64, 88, 38, 81, 88, 65,
       88, 63, 45, 62, 63, 88, 51, 88, 72, 88,  2, 88, 51, 44, 29, 28, 88,
       45, 38, 28,  6, 13, 88, 65, 79, 33, 88, 47, 74, 39, 13, 88, 27, 70,
       85, 27, 88, 69, 88, 33, 31, 22, 27, 88, 50, 21, 23, 44, 88, 36, 34,
       38, 88, 48, 69, 31, 62, 45, 88, 48, 42, 39, 28, 88, 58, 88, 54, 65,
       88, 52, 29,  6, 88, 22, 88, 39, 11, 59, 39, 88, 28, 48, 13, 15, 42,
       65, 80, 24, 88, 44, 12, 22, 35, 88, 28, 28, 78, 63, 88, 52, 48, 88,
       53, 36, 88, 88, 31, 24, 38, 88, 42, 78, 68, 48, 88, 21, 24, 45, 52,
       88, 42, 33, 52, 69, 48, 88, 23, 62, 76, 28, 88, 47, 67, 62, 88, 50,
       48, 88, 64, 88, 64, 31, 88, 88, 58, 47, 48, 39, 35, 28, 53, 52, 88,
       88, 88, 47, 31, 45, 34,  8, 34, 35, 56, 25, 27, 27, 77, 73, 27, 34,
       88, 87, 66, 42, 88, 13, 36, 42, 41, 55, 88, 25, 31,  6, 88,  2, 63,
       24, 72, 88, 29, 88, 23, 27, 88, 23, 31, 88, 42, 29, 74, 65, 53, 62,
       48, 25, 42, 33, 88, 57, 88, 53, 41, 83, 41, 88, 23, 32, 23, 57, 48,
       88, 35, 25, 18, 76, 33, 18, 24, 23, 20, 41,  8, 88, 33, 76, 67, 58,
       88, 64, 56, 23, 47, 23, 33, 34, 52, 59, 56, 28, 88, 31, 88, 63, 38,
       67, 24, 51, 35, 88, 44, 10, 22, 45, 65, 35, 25, 39, 88, 33, 33, 38,
       15, 88, 29, 29, 37, 63, 47, 88, 88, 88, 48, 27, 31, 41, 83, 21, 39,
       24, 41,  8, 10, 44, 29, 63,  1, 36, 23, 45, 44, 88, 55, 25, 48, 21,
       66, 88, 40, 88, 42, 31, 63, 73, 88, 69, 23, 88,  9, 88, 57, 17, 22,
       38, 88, 33, 33, 23, 12,  5, 61, 88, 21, 88, 88, 33, 52, 64, 41, 39,
       39, 45, 41, 15,  0, 35, 41, 52, 23, 52, 44, 34, 52, 47, 10, 40, 88,
       29, 41, 57, 14, 67, 35, 51, 35,  6, 88, 88,  5, 88, 78, 20,  3, 88,
       29, 23, 52, 27, 88, 42, 88, 25, 21, 39, 46, 22, 56, 88, 47, 36, 88,
        8, 86, 13, 21, 58, 23, 59, 66, 31, 88, 55, 27, 63, 88, 31, 56, 35,
       41, 88,  8, 34, 62, 44, 62, 36, 20, 25, 24, 88, 72, 33, 44, 28, 36,
       33, 52, 35, 24, 88, 34, 42], dtype=int64)